<div class="large-10 large-centered columns">
    <div class="panel">
        <h1>Create An Event</h1>
        <div class="row">
            <div class="large-7 columns location">
                <div class="row">
                    <div class="wrapper large-10">
                        <div class="columns venue-box" ng-hide="hideVenueBtn" ng-click="getVenues()">
                            <h3>Choose from Popular Venues</h3>
                        </div>
                        <div class="columns left venue-box" ng-hide="hideAddVenueBtn" ng-click="createVenue()">
                            <h3>Add Your Own Venue</h3>
                        </div>
                        <div class="venue_form" ng-if="hideAddVenueBtn">
                            <form name="addForm" novalidate>
                                <div class="form-group">
                                    <label for="Name">Name</label>
                                    <input ng-model="formData.venueName" type="text">
                                    <label for="Address">Address</label>
                                    <input ng-model="formData.venueAddress" type="text">
                                </div>
                            </form>
                        </div>
                        <div class="pop-venues" ng-if="hideVenueBtn">
                            <label for="">Popular Venues:</label>
                            <div class="left venue-list">
                                <div class="panel callout radius" ng-repeat="venue in venues">
                                    <h3>{{venue.name}}</h3>
                                    <h4>{{venue.location.formattedAddress}}</h4>
                                    <img class="venue_icon right" src="{{venue.categories[0].icon.prefix}}64.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="large-5 columns">
                <form name="addForm" novalidate>
                    <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                    <div class="form-group">
                        <label for="title">Event Title<span class="badge right">All fields required</span></label>
                        <input type="text" class="form-control" id="username" placeholder="JavaScript Workshop" ng-model="formData.eventTitle" required>
                    </div>
                    <div class="form-group">
                        <label for="capacity">Capacity</label>
                        <input type="number" class="form-control" id="capacity" ng-model="formData.capacity" required>
                    </div>
                    <div class="form-group">
                        <label for="contactName">Contact Name</label>
                        <input type="text" class="form-control" id="contact_name" placeholder="Primary contact" ng-model="formData.contactName" required>
                    </div>
                    <div class="form-group">
                        <label for="contactPhone">Contact Phone</label>
                        <input type="text" class="form-control" id="contact_phone" placeholder="(555)-555-5555" ng-model="formData.contactPhone" required>
                    </div>
                    <div class="form-group">
                        <label for="time">Start Time</label>
                        <input name="start" type="time">
                    </div>
                    <div>
                        <label for="end">End Time</label>
                        <input name="end" type="time">
                    </div>
                    <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                    <button type="submit" class="right" ng-click="createEvent()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
