



<div class="row">
  <div class="small-8 medium-6 large-5 small-centered columns">

    <div class="header panel">
      <div class="sign sign-up">
        <h1>Nice to meet you!</h1>
      </div>
      <p><span>Add your login information below.</span> </p>
      <form action="submit" novalidate>
      <label for="firstName">First name</label>
        <input name="firstName" type="text">
        <label for="lastName">Last name</label>
        <input name="lastName" type="text">
        <label for="Email">Email</label>
        <input type="email">
        <label for="Password">Password</label>
        <input type="password">
        <button type="submit">Enter</button>
      </form>
    </div>
  
  </div>
</div>